/*Dashboard css begin*/
.grid {
  -fx-background-color: linear-gradient(to right, #fee9ea, #fbe4e9, #f9ecf2);
  -fx-background-image: none;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

.viewCosts, .viewImpressions, .viewBounces, .viewClicks {
  -fx-border-radius: 15;
  -fx-background-color: linear-gradient(to bottom right, #f9d1ef 7.68%, #f9afc3 48.97%, #f8afbe 83.67%);
  -fx-blend-mode: multiply;
  -fx-border-style: solid;
  -fx-border-width: 0.23071px;
  -fx-border-color: rgba(0, 0, 0, 0.5);
  -fx-background-radius: 15;
  -fx-backdrop-blur: 30px;

}

.viewImpressions:hover, .viewBounces:hover, .viewClicks:hover, .viewCosts:hover{
  -fx-border-radius: 15;
  -fx-background-color: linear-gradient(to bottom right , #f8c8cc 7.68%, #e0a0a0 48.97%, #b86767 83.67%);
  -fx-blend-mode: multiply;
  -fx-border-style:  solid ;
  -fx-border-width: 0.23071px ;
  -fx-border-color: rgba(0, 0, 0, 0.5);
  -fx-background-radius: 15;
  -fx-backdrop-blur: 15px;
}

.viewCosts .btnbox, .viewImpressions .btnbox, .viewBounces .btnbox, .viewClicks .btnbox{
  -fx-background-color: white;
  -fx-background-radius: 5;
}

.viewClicks .heading, .viewImpressions .heading, .viewBounces .heading, .viewCosts .heading{
  -fx-font-size: 18px;
  -fx-font-weight: bold;
  -fx-fill: #713737;
}

.viewClicks:hover .heading, .viewImpressions:hover .heading, .viewBounces:hover .heading, .viewCosts:hover .heading{
  -fx-font-size: 20px;
  -fx-fill: white;
}

.viewClicks .subheading, .viewImpressions .subheading, .viewBounces .subheading, .viewCosts .subheading{
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-fill: #713737;
}

.instructions {
  -fx-font-size: 20px;
  -fx-text-fill: #000000;
}


.viewClicks:hover .subheading, .viewImpressions:hover .subheading, .viewBounces:hover .subheading, .viewCosts:hover .subheading{
  -fx-font-size: 14px;
  -fx-fill: white;
}


.viewCosts .btn, .viewImpressions .btn, .viewBounces .btn, .viewClicks .btn{
  -fx-background-color: #f8577c;
}

.prevBtn {
  -fx-shape: "M189.3 128.4L89 233.4c-6 5.8-9 13.7-9 22.4s3 16.5 9 22.4l100.3 105.4c11.9 12.5 31.3 12.5 43.2 0 11.9-12.5 11.9-32.7 0-45.2L184.4 288h217c16.9 0 30.6-14.3 30.6-32s-13.7-32-30.6-32h-217l48.2-50.4c11.9-12.5 11.9-32.7 0-45.2-12-12.5-31.3-12.5-43.3 0z";
  -fx-pref-width: 24px;
  -fx-pref-height: 24px;
  -fx-scale-x: 1.25;
  -fx-scale-y: 0.75;
  -fx-background-color:  #ff4870;
  -fx-scale-shape: true;
  /*-fx-shape-preserve-ratio: xMidYMid meet;*/
}

.nextBtn {
  -fx-shape: "M 322.7 128.4 L 423 233.4 C 429 239.2, 432 247.1, 432 255.8 S 429 272.3, 423 278.2 L 322.7 383.6 C 310.8 396.1, 291.4 396.1, 279.5 383.6 C 267.6 371.1, 267.6 351, 279.5 338.5 L 327.7 288 H 110.7 C 93.8 288, 80.1 273.7, 80.1 256 S 93.8 224, 110.7 224 H 327.7 L 279.5 173.6 C 267.6 161.1, 267.6 141, 279.5 128.5 C 291.4 116, 310.8 116, 322.7 128.4 Z";
  -fx-scale-x: 1.25;
  -fx-scale-y: 0.75;
  -fx-pref-width: 24px;
  -fx-pref-height: 24px;
  -fx-background-color:  #414141;
  -fx-scale-shape: true;
  /*-fx-shape-preserve-ratio: xMidYMid meet;*/
}

.stats:hover .btn, .import:hover .btn, .settings:hover .btn, .help:hover .btn,.home:hover .btn {
  -fx-background-color: #ff90a8;
}

.stats:hover .label, .import:hover .label, .settings:hover .label, .help:hover .label,.home:hover .label {
  -fx-text-fill: #ff90a8;
}

.stats .btn, .import .btn, .print .btn, .settings .btn, .help .btn,.home .btn {
  -fx-background-color: #414141;
}

.stats .label, .import .label, .print .label, .settings .label, .help .label,.home .label {
  -fx-text-fill: #414141;
}

#current-nav .btn {
  -fx-background-color: #ff4870;
}

#current-nav:hover .btn {
  -fx-background-color: #ff4870;
}

#current-nav:hover .label {
  -fx-text-fill: #ff4870;
}

#current-nav .label {
  -fx-text-fill: #ff4870;
}

.chart-vertical-grid-lines {
  -fx-stroke: #ff4870;
}
.chart-horizontal-grid-lines {
  -fx-stroke: #ff4870;
}

.chart-plot-background {
  -fx-background-color: #fcf3f7;
}

.chart-series-line {
  -fx-stroke: #ff4870;
}

.chart-series-area-fill {
  -fx-fill: #ff90a8;
}

.scroll-item {
  -fx-border-style: dashed;
  -fx-border-color: #ff4870;
  -fx-border-width: 0 0 3 0;
}

.scroll-pane > .scroll-bar > .thumb {
  -fx-background-color: #ff4870;
  -fx-background-insets: 0, 1, 2;
  -fx-background-radius: 5;
}

.scroll-pane > .scroll-bar > .track {
  -fx-background-color: #f5d9d9;
  -fx-background-insets: 0;
}

.combo-box:hover .list-cell {
  -fx-text-fill: #ff4870;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
  -fx-text-fill: #ff4870;
}

.combo-box-popup .list-view .list-cell:filled:selected
{
  -fx-text-fill: #ff4870;
}

.combo-box:hover .arrow{
  -fx-background-color: #ff4870;
}

.save-button:hover {
  -fx-background-color: #ff4870;
}

#empty-arrow{
  -fx-background-color: #414141;
}

#full-arrow{
  -fx-background-color: #ff4870;
}

.print-button:hover {
  -fx-background-color: #ff4870;
}

/*Dashboard css end*/

/*Statistics css begin*/


.mfx-toggle-button {

  -fx-padding: 10;
}


.mfx-toggle-button .mfx-ripple-generator {
  -mfx-animation-speed: 1.5;
  -mfx-ripple-radius: 10;
  -mfx-ripple-color: #ff4870;
  -mfx-ripple-opacity: 0.4;
}

.mfx-toggle-button .circle {
  -fx-stroke: transparent;
  -fx-fill: #424242;
}

.mfx-toggle-button .line {
  -fx-stroke-line-cap: ROUND;
  -fx-stroke: #424242;
  -fx-opacity: 0.3;
}

.mfx-toggle-button:selected .mfx-ripple-generator {
  -mfx-ripple-color: #424242;
}

.mfx-toggle-button:selected .circle {
  -fx-fill: #ff4870;
}

.mfx-toggle-button:selected .line {
  -fx-stroke: #ff4870;
}


/********************
Date Picker
********************/

.mfx-date-picker .icon:hover {
  -mfx-color: #ff4870;
}


/********************
Popup
********************/

.mfx-date-picker .date-picker-popup .months-combo:focused,
.mfx-date-picker .date-picker-popup .years-combo:focused {
  -fx-background-color: #f8f7fa;
  -fx-text-fill: #ff4870;
}

.mfx-date-picker .date-picker-popup .months-combo .virtual-flow .mfx-combo-box-cell:selected .label,
.mfx-date-picker .date-picker-popup .years-combo .virtual-flow .mfx-combo-box-cell:selected .label {
  -fx-text-fill: #ff4870;
}

.mfx-date-picker .date-picker-popup .week-day {
  -fx-text-fill: #ff4870;
}

.mfx-date-picker .date-picker-popup .mfx-date-cell:hover {
  -fx-text-fill: #f96d8c;
  -fx-font-weight: bold;
}

/*!*Statistics css end*!*/

/*Import css end*/

/*Settings css begin*/

.tree-heading:selected, .tree-subheading:selected{
  -fx-background-color: #f29ec0;
  -fx-text-fill: white;
}

.tree-heading:filled:hover, .tree-subheading:filled:hover {
  -fx-background-color: #f29ec0;
  -fx-text-fill: white;
}

.tree-heading:selected:hover, .tree-subheading:selected:hover {
  -fx-background-color: #f29ec0;
  -fx-text-fill: white;
}

.ok-button:hover {
  -fx-background-color: #fc1647;
}

.ok-button {
  -fx-background-color: #ff4870;
}

